# .dockerignore

# Ignorar o ambiente virtual do Python
.venv/
venv/
*.venv

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de cache de ferramentas de desenvolvimento
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Ignorar diretório do Git
.git/

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/

# Ignorar arquivos de build e distribuição
build/
dist/
*.egg-info/

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db